{{- $logoTitle := .Site.Params.logo.title | default .Site.Title -}}
{{- $logoSubtitle := .Site.Params.logo.subtitle | default .Site.Params.subtitle -}}
{{- $logoAlt := .Site.Params.logo.alt | default .Site.Params.subtitle -}}
{{- $logoHeight := .Site.Params.logo.height -}}
{{- $logoWidth := .Site.Params.logo.width -}}
{{- $logoImage := .Site.Params.logo.image -}}
{{- $logoCssPrefix := "" -}}
{{- if  .Site.Params.logo.banner | default true }}
{{ $logoCssPrefix = "X" }}
{{- end }}
{{- if or $logoTitle $logoImage }}
	{{/* Defined when logo is mixed (image + text) */}}
	<div class="logo">
		<a class="{{$logoCssPrefix }}logo__link" href="{{ "" | relLangURL }}"{{ with $logoTitle }} title="{{ . }}"{{ end }}  rel="home">
			{{ with $logoImage -}}
				<div class="{{$logoCssPrefix }}logo__item">
					<img class="logo__img" src="{{ . | relURL }}" {{ with $logoAlt }} alt="{{ . }}" {{ end }} {{- if $logoHeight }}{{ with $logoHeight }} height="{{ . }}" {{ end }} {{- end }} {{- if $logoWidth }}{{ with $logoWidth }} width="{{ . }}" {{ end }} {{- end }} >
				</div>
					{{ with $logoSubtitle }}<div class="logo__tagline">{{ . }}</div>{{ end }}
			{{- else -}}
			{{ with $logoTitle -}}
				<div class="logo__item logo__text">
					<div class="logo__title">{{ . }}</div>
					{{ with $logoSubtitle }}<div class="logo__tagline">{{ . }}</div>{{ end }}
				</div>
			{{- end }}
			{{- end -}}
		</a>
	</div>
{{- end }}